@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height: 400px;
	background-image: url(img/mv.jpg);
	background-position: bottom;
	background-size: cover;
}
.header-text{
	padding: 20px 0 0 20px;
	font-size: 25px;
	color: gray;
	font-weight: bolder;
}

main{
	width: 840px;
	margin: 20px auto 50px;
}
.blog-box{
	padding: 30px 0;
	border-bottom: solid 1px gray;
}
.blog-logo{
	height: 50px;
}
.blog-text{
	font-size: 20px;
}
.blog-logo2{
	height: 20px;
}